#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 50px 200px;
  text-align: center;
}

.tabs {
  display: flex;
  gap: 60px;
  font-size: 2rem;
  justify-content: center;
}

.disable {
  display: none;
}
