.Nav {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-around;
  gap: 10%;
  color: white;
  background-color: rgba(46, 125, 50, 0.5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
