.nav {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: space-around;
  gap: 10%;
  color: white;
  background-color: #2e7d3280;
}

.footer {
  background-color: #2e7d3280;

  font-size: 1rem;
  color: white;
  padding-left: 20px;
}
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
